#!/usr/bin/env bash

set -Eeuo pipefail

#bootctl --esp-path=/boot/efi install
#bootctl --esp-path=/boot/efi set-timeout 10

mkdir -p /etc/apt/sources.list.d/
echo 'deb http://download.opensuse.org/repositories/home:/jepio:/flatcar/Debian_Testing/ /' | tee /etc/apt/sources.list.d/home:jepio:flatcar.list
echo 'deb http://deb.debian.org/debian testing main contrib non-free' | tee -a /etc/apt/sources.list.d/home:jepio:flatcar.list
curl -fsSL https://download.opensuse.org/repositories/home:jepio:flatcar/Debian_Testing/Release.key | gpg --dearmor | tee /etc/apt/trusted.gpg.d/home_jepio_flatcar.gpg > /dev/null
apt-get update
apt-get install -y update-engine flatcar-init seismograph coreos-cloudinit ncat strace jq

mkdir -p /oem
ln -s /oem /usr/share/oem

mkdir -p /usr/share/flatcar /usr/share/update_engine /var/lib/update_engine /etc/flatcar /boot/flatcar /boot/EFI/flatcar
cat <<EOF >/usr/share/flatcar/release
FLATCAR_RELEASE_BOARD=amd64-usr
FLATCAR_RELEASE_APPID={e96281a6-d1af-4bde-9a0a-97b76e56dc57}
EOF

# flatcar-update uses ncat in a fun way
ln -sf /bin/bash /bin/sh

pushd /usr/share/update_engine
openssl genrsa -out update-payload-key.key.pem 2048
openssl rsa -in update-payload-key.key.pem -pubout -out update-payload-key.pub.pem
popd

sed -i -e 's/PermitRootLogin.*/PermitRootLogin yes/' /etc/ssh/sshd_config
mkdir /root/.ssh
echo 'ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP2Q2//3qe3hcYpwLwc3AIA8KyjnTTB0FCC+ToaTQ/1S' >>/root/.ssh/authorized_keys
chmod 0700 /root/.ssh
chmod 0600 /root/.ssh/authorized_keys

ln -s sbin/flatcar-postinst /usr/postinst

cat <<EOF >/usr/local/bin/create-update.sh
#!/bin/bash

if [ ! -f usr.raw ]; then
  dd if=/dev/sda3 of=usr.raw bs=$((1024 * 1024)) oflag=direct iflag=direct
fi
delta_generator -new_image usr.raw -new_kernel /boot/EFI/EFI/Linux/GARDEN.EFI -private_key /usr/share/update_engine/update-payload-key.key.pem -out_file update.gz
EOF
chmod +x /usr/local/bin/create-update.sh

# for postinst
pushd /usr
ldso=$(find -name 'ld-2.??.so')
linker=${ldso##*/}
triplet=${ldso%/$linker}
triplet=${triplet##*/}
ln -s "$triplet/$linker" "lib/$linker"
popd

# for postinst
ln -s true /usr/bin/torcx

cp -a /etc/systemd/system/*getty* /usr/lib/systemd/system/

# "make /usr hermetic"
mkdir -p /usr/share/baselayout
cp -a /etc/. /usr/share/baselayout/

for f in $(find /etc/); do
  echo "C ${f} - - - - /usr/share/baselayout/${f#/etc/}" >>/usr/lib/tmpfiles.d/flatcar.conf.tmp
done
column -t </usr/lib/tmpfiles.d/flatcar.conf.tmp >/usr/lib/tmpfiles.d/flatcar.conf
rm /usr/lib/tmpfiles.d/flatcar.conf.tmp